
article {
  width: 100%;
  padding: 16px;
}


.listing-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-height: 800px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
}


.listing-description,
.listing-features,
.listing-apply {
  width: 100%;
  text-align: center;
}

.listing-apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #f6dda0;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.listing-apply form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.listing-apply input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.primary {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.primary:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  article {
    padding: 10px;
  }

  .listing-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .listing-description,
  .listing-features,
  .listing-apply {
    text-align: center;
    padding: 10px;
  }

  .listing-apply {
    max-width: 90%;
    padding: 15px;
  }

  .listing-apply input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .listing-photo {
    height: 250px;
  }

  .listing-apply {
    max-width: 100%;
  }

  button.primary {
    width: 100%;
  }
}
