<article>
    <img
      class="listing-photo"
      [src]="coche?.imagen"
      alt="Exterior photo of {{ coche?.modelo }}"
      crossorigin
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ coche?.modelo }}</h2>
      <p class="listing-location">{{ coche?.periodo }}, {{ coche?.firma }}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">Informacion</h2>
      <ul>
        <li>Periodo: {{ coche?.periodo }}</li>
        <li>Firma: {{ coche?.firma }}</li>
        <li>Modelo: {{ coche?.modelo }}</li>
        <li>Notas: {{ coche?.notas }}</li>
        <li>Puja Inicial: {{ coche?.pujaInicial }}</li>
      </ul>
    </section>
    <!--
    <section class="listing-apply">
      <h2 class="section-heading">Apply now to live here</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="firstName" />
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" formControlName="lastName" />
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <button type="submit" class="primary">Apply now</button>
      </form>
    </section>
    -->
  </article>