<article>
    <img
      class="listing-photo"
      [src]="coche?.imagen"
      alt="Exterior photo of {{ coche?.modelo }}"
      crossorigin
    />

    <section class="listing-description">
      <h2 class="listing-heading">{{ coche?.modelo }}</h2>
      <p class="listing-location">{{ coche?.periodo }}, {{ coche?.firma }}</p>
    </section>

    <section class="listing-features">
      <h2 class="section-heading">Informacion</h2>
      <ul>
        <li>Periodo: {{ coche?.periodo }}</li>
        <li>Firma: {{ coche?.firma }}</li>
        <li>Modelo: {{ coche?.modelo }}</li>
        <li>Notas: {{ coche?.notas }}</li>
        <li>Puja Inicial: {{ coche?.pujaInicial }}</li>
      </ul>
    </section>

    
    <section class="listing-apply">
      <h2 class="section-heading">Puja</h2>
      <h2 class="section-heading">Puja Actual: {{pujaActual}}</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">

        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre" />

        <label for="puja">Puja</label>
        <input id="puja" type="number" formControlName="puja" />

        <button type="submit" class="primary">Pujar</button>
      </form>
      
    </section>

  </article>