<section class="principal">
  <div class = "contenedor">
    <img class="disigner-logo" src="https://raw.githubusercontent.com/snprincich/SantiagoNicolas_Princich_DAM2/refs/heads/master/Houses/Imagenes/sergio-sartorelli.png" alt="sergio-sartorelli" aria-hidden="false" />
  </div>
  <p>Sergio Sartorelli (Alessandria, 7 de mayo de 1928 – Turín, 28 de noviembre de 2009) fue un destacado diseñador e ingeniero automotriz italiano.</p>
  <p>Durante su carrera en Carrozzeria Ghia, OSI y, finalmente, Fiat, Sartorelli se hizo ampliamente conocido por su trabajo en el Fiat 2300 S Coupé, Karmann Ghia Type 34 y el Fiat 126.</p>
</section>

<section class="results">
  <app-coches *ngFor="let coche of cocheList" [coche]="coche"></app-coches>
  
</section>