<section>
  <div class = "contenedor">
    <img class="disigner-logo" src="https://raw.githubusercontent.com/snprincich/SantiagoNicolas_Princich_DAM2/refs/heads/master/Houses/Imagenes/sergio-sartorelli.png?token=GHSAT0AAAAAAC46J35XPFEJHTGHCL3COJVSZ5DSFBA" alt="sergio-sartorelli" aria-hidden="true" />
    <div class="bottom-left">Sergio Sartorelli</div>
  </div>
  <p>Sergio Sartorelli (Alessandria, 7 de mayo de 1928 – Turín, 28 de noviembre de 2009) fue un destacado diseñador e ingeniero automotriz italiano.</p>
  <p>Durante su carrera en Carrozzeria Ghia, OSI y, finalmente, Fiat, Sartorelli se hizo ampliamente conocido por su trabajo en el Fiat 2300 S Coupé, Karmann Ghia Type 34 y el Fiat 126.</p>
</section>

<section class="results">
  <!-- <app-housing-location *ngFor="let housingLocation of filteredLocationList" [housingLocation]="housingLocation"></app-housing-location> -->
  
</section>